{{#each Details}}
	<table class="table table-bordered table-striped ">
		<tr><td class="col-xs-2"><strong>Plate Number</strong></td><td><strong>{{license_plate_number}}</strong></td></tr>
		<tr><td class="col-xs-2">First Name</td><td>{{{toTitleCase first_name}}}</td></tr>
		<tr><td class="col-xs-2">Middle Name</td><td>{{{toTitleCase middle_name}}}</td></tr>
		<tr><td class="col-xs-2">last Name</td><td>{{{toTitleCase last_name}}}</td></tr>
		<tr><td class="col-xs-2">Citation Number:</td><td>{{{formatCitationNumber citation}}}</td></tr>
		<tr><td class="col-xs-2">Issue Date</td><td>{{{formatDate issue_date}}}</td></tr>
		<tr><td class="col-xs-2">Citation Amount</td><td>${{citation_amount}}</td></tr>
		<tr><td class="col-xs-2">Fees &amp; Fines</td><td>${{fees_fines}}</td></tr>
		<tr><td class="col-xs-2">Remaining Balance</td><td>${{remaining_balance}}</td></tr>
	</table>
{{/each}}