{{#each Details}}
	<table class="table table-bordered table-striped ">
		<tr><td class="col-xs-2"><strong>Plate Number</strong></td><td><strong>{{vehicle_plate_number}}</strong></td></tr>
		<tr><td class="col-xs-2">First Name</td><td>{{{toTitleCase first_name}}}</td></tr>
		<tr><td class="col-xs-2">Middle Name</td><td>{{{toTitleCase middle_name}}}</td></tr>
		<tr><td class="col-xs-2">State</td><td>{{ state_of_plate}}</td></tr>
		<tr><td class="col-xs-2">Last Name</td><td>{{{toTitleCase last_name}}}</td></tr>
		<tr><td class="col-xs-2">Citation Number:</td><td>{{{formatCitationNumber citation_number}}}</td></tr>
		<tr><td class="col-xs-2">Issue Date</td><td>{{{formatDate citation_date_mmddyy}}}</td></tr>
		<tr><td class="col-xs-2">Citation Amount</td><td>${{citation_amount}}</td></tr>
		<tr><td class="col-xs-2">Fees &amp; Fines</td><td>${{fees_fines}}</td></tr>
		<tr><td class="col-xs-2">Remaining Balance</td><td>${{remainingbalance}}</td></tr>
	</table>
{{/each}}